/* generic */
div.all_message_block {
    min-height: 32px;
    font-weight: bold;
    font-size: 14px;	
    font-weight: normal;
    padding: 5px;
}

div.all_message_block ul {
    padding: 0px 0px 0px 60px;
    margin: 0px;
}

div.all_message_block div.all_message_header {
    background-repeat: no-repeat;
    padding: 2px 0px 2px 38px;
    min-height: 28px;
    font-weight: bold;
}
/* success */
div.all_success_message_block {
   background: #eff9f0;
   border: 1px solid #91d499;
}

div.all_success_message_block div.all_message_header {
    background-image: url("images/32/icon_success.png");
}
/* end success */

/* error */
div.all_error_message_block {
	background: #faf0f2;
    border: 1px solid #ff9f9f;
}

div.all_error_message_block div.all_message_header {
    background-image: url("images/32/icon_error.png");
}

/* end error */

/* warning */
div.all_warning_message_block {
    background: #ffffef;
    border: 1px solid #f7c28b;   
}

div.all_warning_message_block div.all_message_header {
    background-image: url("images/32/icon_warning.png");
}
/* end warning */


/* loading */
div.all_loading_message_block {
    background: #cccccc;
    border: 1px solid #999999;   
}

div.all_loading_message_block div.all_loading_message_header {
    background-image: url("images/32/icon_loading.gif");
}
/* end loading */
